<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Start Page</title>
    </h:head>
    <h:body>
        <h1>Hello World!</h1>
        <p:outputLabel value="#{webBambooBean.mensajeBienvenida}"/>
        <br/>
        <h:outputLabel for="name" value="Standard Label:" />
        <p:inputText id="name" required="true" />
        <br/>
        <h:outputLabel for="num" value="Número" />
        <p:inputText id="num" type="number" required="true" />
    </h:body>
</html>
